@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

:root {
  /* Colors */
  --color-main: #e9e9dc;
  --color-accent: #d3b64e;
  --color-button-hover: #3a6c90;
  --color-disabled: #bfbfbf;
  --color-text: #211414;

  --border-radius-ext: 25px;
  --border-radius-int: 15px;
  --transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  --main-shadow: 20px 20px 20px 0px rgba(0, 0, 0, 0.25);
}

body {
  font-family: 'Space Grotesk';
  background-color: var(--color-main);
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--color-text);
}

li {
  list-style-type: none;
}
